* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.mg-0auto li {
  margin-left: 40px; }

h1 {
  font-size: 60px; }

h3 {
  font-size: 28px; }

h1, h3 {
  line-height: 1.5;
  font-weight: 300; }

h4 {
  font-size: 21px;
  font-weight: 300; }

.mgb-15 {
  margin-bottom: 15px; }

.pdt-80 {
  padding-top: 80px; }

.pdt-120 {
  padding-top: 120px; }

.pdb-300 {
  padding-bottom: 300px; }

.pdb-120 {
  padding-bottom: 120px; }

.pdb-10 {
  padding-bottom: 10px; }

.mgt-20 {
  margin-top: 20px; }

.mgb-50 {
  margin-bottom: 50px; }

.mgb-20 {
  margin-bottom: 20px; }

.mgt-100 {
  margin-top: 100px; }

.mgb-300 {
  margin-bottom: 300px; }

header .navbar-default {
  background: #27AD60;
  border: none;
  padding: 20px 0 30px;
  margin-bottom: 0; }
  header .navbar-default .navbar-nav > li > a {
    color: #FEFEFE; }
  header .navbar-default .navbar-toggle {
    background: #FEFEFE; }
    header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
      background: #FEFEFE; }

aside {
  background: url("../img/carousel-bg.jpg") no-repeat;
  background-size: 104.5%;
  background-position: 20% 42%;
  color: #FEFEFE;
  padding: 20px 0; }
  aside h1 {
    margin: 0; }
  aside h3 {
    margin: 70px 5px 10px; }

hr {
  width: 220px;
  height: 1px;
  background: #ACAAAC;
  margin: 0 auto; }

#palette .container-fluid {
  width: 82%; }
  #palette .container-fluid .row {
    margin: 0; }
    #palette .container-fluid .row .col-md-2 {
      width: 18%;
      height: 150px; }
  #palette .container-fluid .pallet1 div:nth-child(2) {
    background: #69D2E7; }
  #palette .container-fluid .pallet1 div:nth-child(3) {
    background: #A7DBDB; }
  #palette .container-fluid .pallet1 div:nth-child(4) {
    background: #E0E4CC; }
  #palette .container-fluid .pallet1 div:nth-child(5) {
    background: #F38630; }
  #palette .container-fluid .pallet1 div:nth-child(6) {
    background: #FA6900; }
  #palette .container-fluid .pallet2 div:nth-child(2) {
    background: #E94C6F; }
  #palette .container-fluid .pallet2 div:nth-child(3) {
    background: #542733; }
  #palette .container-fluid .pallet2 div:nth-child(4) {
    background: #5A6A62; }
  #palette .container-fluid .pallet2 div:nth-child(5) {
    background: #C6D5CD; }
  #palette .container-fluid .pallet2 div:nth-child(6) {
    background: #FDF200; }
  #palette .container-fluid .pallet3 div:nth-child(2) {
    background: #DB3340; }
  #palette .container-fluid .pallet3 div:nth-child(3) {
    background: #E8B71A; }
  #palette .container-fluid .pallet3 div:nth-child(4) {
    background: #F7EAC8; }
  #palette .container-fluid .pallet3 div:nth-child(5) {
    background: #1FDA9A; }
  #palette .container-fluid .pallet3 div:nth-child(6) {
    background: #28ABE3; }
  #palette .container-fluid .pallet4 div:nth-child(2) {
    background: #588C73; }
  #palette .container-fluid .pallet4 div:nth-child(3) {
    background: #F2E394; }
  #palette .container-fluid .pallet4 div:nth-child(4) {
    background: #F2AE72; }
  #palette .container-fluid .pallet4 div:nth-child(5) {
    background: #D96459; }
  #palette .container-fluid .pallet4 div:nth-child(6) {
    background: #8C4646; }
  #palette .container-fluid .pallet5 div:nth-child(2) {
    background: #D0C91F; }
  #palette .container-fluid .pallet5 div:nth-child(3) {
    background: #85C4B9; }
  #palette .container-fluid .pallet5 div:nth-child(4) {
    background: #008BBA; }
  #palette .container-fluid .pallet5 div:nth-child(5) {
    background: #DF514C; }
  #palette .container-fluid .pallet5 div:nth-child(6) {
    background: #DC403B; }

#about-us {
  background: #2C3E50;
  color: #FEFEFE;
  font-weight: 300;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.9); }
  #about-us .container {
    padding: 100px 100px; }
    #about-us .container .text-progress .col-md-6:nth-child(1) {
      padding-right: 40px; }
    #about-us .container .text-progress p:nth-child(2) {
      margin-bottom: 100px; }
    #about-us .container .text-progress .progress {
      height: 12px;
      border-radius: 0;
      border: 2px solid #f5f5f5;
      margin-bottom: 5px; }
      #about-us .container .text-progress .progress .progress-bar-success {
        background: #E67E22; }

#services, #team, footer {
  background: #27AD60;
  color: #FEFEFE; }
  #services h1, #team h1, footer h1 {
    margin-top: 0; }
  #services .btn-bk, #team .btn-bk, footer .btn-bk {
    background: #473D3F;
    color: white;
    padding: 15px 20px;
    font-size: 20px; }
  #services .col-md-4, #team .col-md-4, footer .col-md-4 {
    padding: 0px 65px 0; }
    #services .col-md-4 hr, #team .col-md-4 hr, footer .col-md-4 hr {
      display: none; }
    #services .col-md-4 .bg-service .bg-icons, #team .col-md-4 .bg-service .bg-icons, footer .col-md-4 .bg-service .bg-icons, #services .col-md-4 .bg-service:hover .bg-orange, #team .col-md-4 .bg-service:hover .bg-orange, footer .col-md-4 .bg-service:hover .bg-orange, #services .col-md-4 .bg-service:focus .bg-orange, #team .col-md-4 .bg-service:focus .bg-orange, footer .col-md-4 .bg-service:focus .bg-orange {
      background: url("../img/icon-bg.png");
      height: 150px;
      width: 150px;
      background-size: cover;
      margin: 0 auto;
      background-blend-mode: color;
      background-color: rgba(44, 62, 80, 0.5); }
      #services .col-md-4 .bg-service .bg-icons img, #team .col-md-4 .bg-service .bg-icons img, footer .col-md-4 .bg-service .bg-icons img, #services .col-md-4 .bg-service:hover .bg-orange img, #team .col-md-4 .bg-service:hover .bg-orange img, footer .col-md-4 .bg-service:hover .bg-orange img, #services .col-md-4 .bg-service:focus .bg-orange img, #team .col-md-4 .bg-service:focus .bg-orange img, footer .col-md-4 .bg-service:focus .bg-orange img {
        padding: 25px; }
    #services .col-md-4 .bg-service:hover, #team .col-md-4 .bg-service:hover, footer .col-md-4 .bg-service:hover, #services .col-md-4 .bg-service:focus, #team .col-md-4 .bg-service:focus, footer .col-md-4 .bg-service:focus {
      background-blend-mode: color;
      background-color: rgba(44, 62, 80, 0.5);
      height: 450px;
      padding-top: 31px;
      margin-top: -31px; }
      #services .col-md-4 .bg-service:hover h3, #team .col-md-4 .bg-service:hover h3, footer .col-md-4 .bg-service:hover h3, #services .col-md-4 .bg-service:focus h3, #team .col-md-4 .bg-service:focus h3, footer .col-md-4 .bg-service:focus h3 {
        color: #E67E22; }
      #services .col-md-4 .bg-service:hover hr, #team .col-md-4 .bg-service:hover hr, footer .col-md-4 .bg-service:hover hr, #services .col-md-4 .bg-service:focus hr, #team .col-md-4 .bg-service:focus hr, footer .col-md-4 .bg-service:focus hr {
        display: block; }
      #services .col-md-4 .bg-service:hover .bg-orange, #team .col-md-4 .bg-service:hover .bg-orange, footer .col-md-4 .bg-service:hover .bg-orange, #services .col-md-4 .bg-service:focus .bg-orange, #team .col-md-4 .bg-service:focus .bg-orange, footer .col-md-4 .bg-service:focus .bg-orange {
        background: #E67E22;
        -ms-transform: rotate(231deg);
        /* IE 9 */
        -webkit-transform: rotate(231deg);
        /* Safari */
        transform: rotate(231deg); }
    #services .col-md-4 p, #team .col-md-4 p, footer .col-md-4 p {
      color: #B0B2B4; }

#team .col-md-3 {
  padding: 0 40px; }
  #team .col-md-3 img {
    width: 150px;
    height: 150px; }
  #team .col-md-3 h6 {
    color: #433D43; }
  #team .col-md-3 i {
    font-size: 25px;
    padding-top: 20px;
    padding-right: 8px; }
  #team .col-md-3 p, #team .col-md-3 i {
    color: #B0B2B4; }

.btn-opa {
  padding: 15px 20px;
  background: rgba(220, 64, 59, 0.2);
  color: white;
  font-size: 18px;
  font-weight: 300; }

#prices, #clients, #contact {
  background: #2C3E50;
  color: #FEFEFE; }
  #prices .col-md-3:nth-child(1) table tr:nth-child(2n+1), #clients .col-md-3:nth-child(1) table tr:nth-child(2n+1), #contact .col-md-3:nth-child(1) table tr:nth-child(2n+1) {
    background-color: rgba(230, 126, 34, 0.5); }
    #prices .col-md-3:nth-child(1) table tr:nth-child(2n+1):last-child, #clients .col-md-3:nth-child(1) table tr:nth-child(2n+1):last-child, #contact .col-md-3:nth-child(1) table tr:nth-child(2n+1):last-child {
      background: #2C3E50; }
  #prices table, #clients table, #contact table {
    margin: 0 auto;
    border: 1px solid #27AD60; }
    #prices table:hover, #clients table:hover, #contact table:hover, #prices table:focus, #clients table:focus, #contact table:focus {
      margin-top: -30px;
      border: 2px solid #E67E22; }
    #prices table tr:nth-child(2), #clients table tr:nth-child(2), #contact table tr:nth-child(2) {
      background: #27AD60; }
      #prices table tr:nth-child(2) td, #clients table tr:nth-child(2) td, #contact table tr:nth-child(2) td {
        padding: 20px 0; }
        #prices table tr:nth-child(2) td span:nth-child(1), #clients table tr:nth-child(2) td span:nth-child(1), #contact table tr:nth-child(2) td span:nth-child(1) {
          font-size: 50px; }
    #prices table tr:nth-child(n+3) td, #clients table tr:nth-child(n+3) td, #contact table tr:nth-child(n+3) td {
      padding: 10px 0px; }
    #prices table tr:nth-child(2n+4), #clients table tr:nth-child(2n+4), #contact table tr:nth-child(2n+4) {
      background: #FEFEFE;
      color: #2C3E50; }
    #prices table tr:last-child td, #clients table tr:last-child td, #contact table tr:last-child td {
      padding: 70px 0 40px; }
    #prices table tr th, #clients table tr th, #contact table tr th {
      text-align: center;
      padding: 10px 0px; }
      #prices table tr th h4, #clients table tr th h4, #contact table tr th h4 {
        color: #B0B2B4; }
    #prices table tr td, #clients table tr td, #contact table tr td {
      width: 350px; }

#clients .texto {
  width: 60%;
  margin: 0 auto; }
  #clients .texto h4 {
    color: #B0B2B4; }
  #clients .texto p {
    color: #E67E22;
    font-size: 20px; }

#contact .form-control {
  height: 50px;
  border-radius: 0px;
  margin: 0 auto;
  width: 70%; }
#contact textarea.form-control {
  height: auto; }

#red-social {
  background-image: url("../img/img-divider-img.jpg");
  background-position: 0 -20%;
  background-repeat: repeat-y;
  background-size: 100% 200%;
  padding: 200px 0 150px; }
  #red-social i.fa {
    color: #FEFEFE;
    font-size: 120px;
    padding-right: 20px; }

footer .row {
  margin-top: 20px; }
footer hr {
  width: 73px; }
footer ul {
  margin-left: 20px; }
  footer ul li {
    color: #FEFEFE;
    letter-spacing: 1.5px;
    margin: 15px 0; }
    footer ul li i {
      margin-right: 5px; }
footer .input-group-lg {
  border: 1px solid #433D43; }
footer .input-group-lg > .form-control {
  border-radius: 0;
  height: 30px;
  font-size: 14px; }
footer .input-group-lg > .input-group-addon {
  border-radius: 0;
  padding: 2px 15px;
  height: 30px;
  background: #433D43;
  border: 0;
  color: #E67E22; }
footer .now {
  padding: 10px;
  margin-top: 20px;
  border: 0;
  background: #433D43; }
footer .font div:first-child a {
  color: #433D43; }
footer .font div:last-child a {
  color: #FEFEFE; }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px; }

  h3 {
    font-size: 18px; }

  aside {
    background: url("../img/carousel-bg.jpg") no-repeat;
    background-size: cover;
    background-position: 20% 42%;
    color: #FEFEFE;
    padding: 20px 0; }

  #palette .container-fluid {
    width: 100%; }
    #palette .container-fluid .row {
      margin: 0; }
      #palette .container-fluid .row .col-md-2 {
        width: 20%;
        height: 100px;
        padding: 0; } }

/*# sourceMappingURL=main.css.map */
